<div class="background-image-login">
  <div class="container">
    <div class="row">
      <div class="blurred-back2 col s12 m12 l5 offset-l6 z-depth-5" style="padding-left: 50px; padding-right: 50px; padding-bottom: 30px">
        <h4>New Comment</h4>

        <%= render 'form', comment: @comment %>
      </div>
    </div>
  </div>
</div>
