<div class="container">

<div class="slider">
    <ul class="slides">
      <li>
        <img src="http://res.cloudinary.com/dzctpgu9d/image/upload/v1493015886/food_1_tz8ojk.jpg" alt="">
        <div class="black-text caption center-align home-text">
          <h1 class="home-text">Welcome to Foodocracy.</h1>
          <h4 class="black-text text-black">A system to express your foodopinion.</h4>
        </div>
      </li>
      <li>
        <img src="http://res.cloudinary.com/dzctpgu9d/image/upload/v1493015886/food_2_vlsah5.jpg" alt="">
        <div class="black-text caption right-align home-text">
          <h1 class="home-text">Stay healthy.</h1>
          <h4 class="black-text text-black">Pay attention to the ingredients.</h4>
        </div>
      </li>
      <li>
        <img src="http://res.cloudinary.com/dzctpgu9d/image/upload/v1493015886/food_3_dexzsb.jpg" alt="">
        <div class="black-text caption left-align home-text">
          <h1 class="home-text">Diversify your diet.</h1>
          <h4 class="black-text text-black">Rate the healthiness.</h4>
        </div>
      </li>
    </ul>
  </div>

</div>
