<div class="container">

<div class="slider">
    <ul class="slides">
      <li>
        <img src="http://res.cloudinary.com/dzctpgu9d/image/upload/v1493015886/food_1_tz8ojk.jpg" alt="">
        <div class="black-text caption center-align home-text">
          <h1 class="home-text">Welcome to Foodocracy<span>.</h1>
          <h2 class="black-text text-black">A system to express your foodopinion.</h2>
        </div>
      </li>
      <li>
        <img src="http://res.cloudinary.com/dzctpgu9d/image/upload/v1493074439/background_2_qorbab.jpg" alt="">
        <div class="black-text caption right-align home-text">
          <h1 class="home-text" style="color:#e8f5e9;">Stay healthy.</h1>
          <h2 style="color:#e8f5e9;">Pay attention to the ingredients.</h2>
        </div>
      </li>
      <li>
        <img src="http://res.cloudinary.com/dzctpgu9d/image/upload/v1493015886/food_3_dexzsb.jpg" alt="">
        <div class="black-text caption left-align home-text">
          <h1 class="home-text">Diversify your diet.</h1>
          <h2 class="black-text text-black">Rate the healthiness.</h2>
        </div>
      </li>
    </ul>
  </div>

</div>
