<div class="container">

<div class="slider">
    <ul class="slides">
      <li>
        <img src="http://res.cloudinary.com/dzctpgu9d/image/upload/v1493015886/food_1_tz8ojk.jpg" alt="">
        <div class="black-text caption center-align home-text">
          <h1 class="home-text" style="font-size:0.5em;">Welcome to Foodocracy<span>.</h1>
          <h3 class="black-text text-black">A system to express your foodopinion.</h3>
        </div>
      </li>
      <li>
        <img src="http://res.cloudinary.com/dzctpgu9d/image/upload/v1493074439/background_2_qorbab.jpg" alt="">
        <div class="black-text caption right-align home-text">
          <h1 class="home-text" style="color:#e8f5e9;font-size:0.5em;">Stay healthy.</h1>
          <h3 style="color:#e8f5e9;">Pay attention to the ingredients.</h3>
        </div>
      </li>
      <li>
        <img src="http://res.cloudinary.com/dzctpgu9d/image/upload/v1493015886/food_3_dexzsb.jpg" alt="">
        <div class="black-text caption left-align home-text">
          <h1 class="home-text" style="font-size:0.5em;">Diversify your diet.</h1>
          <h3 class="black-text text-black">Rate the healthiness.</h3>
        </div>
      </li>
    </ul>
  </div>

</div>
