<div class="container">

<div class="slider">
    <ul class="slides">
      <li>
        <%=image_tag("food_1.jpeg")%> <!-- random image -->
        <div class="black-text caption center-align home-text">
          <h1 class="home-text">Welcome to Foodocracy.</h1>
          <h4 class="black-text text-black">A system to express your foodopinion.</h4>
        </div>
      </li>
      <li>
        <%=image_tag("food_2.jpeg")%> <!-- random image -->
        <div class="black-text caption right-align home-text">
          <h1 class="home-text">Stay healthy.</h1>
          <h4 class="black-text text-black">Pay attention to the ingredients.</h4>
        </div>
      </li>
      <li>
        <%=image_tag("food_3.jpeg")%> <!-- random image -->
        <div class="black-text caption left-align home-text">
          <h1 class="home-text">Diversify your diet.</h1>
          <h4 class="black-text text-black">Rate the healthiness.</h4>
        </div>
      </li>
    </ul>
  </div>

</div>
