<div class="container">

<h4>Foodocrats:</h4>

  <ul class="collection">
    <% @users.each do |user| %>
      <li class="collection-item avatar">
        <div class="row no-margin">
          <div class="col s2 m2 l1 valign-wrapper">
            <%= image_tag user.avatar.url(:thumb), class: "avatar-image-list valign-wrapper" %>
          </div>
          <div class="col valign-wrapper">
            <span class="title"><%= link_to(user.first_name, user_path(user)) %> <%= link_to(user.last_name, user_path(user)) %></span>
          </div>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </div>
      </li>
    <% end %>
  </ul>
</div>
