<div class="background-image">
  <div class="container">
    <div class="row">
      <div class="blurred-back col s6" style="padding-left: 50px; padding-right: 50px;">
        <h1>New Post</h1>
        <%= render 'form', post: @post %>
        <%= link_to 'Back', posts_path %>
      </div>
    </div>
  </div>
</div>
