/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import url('https://fonts.googleapis.com/css?family=Jomhuria');

.background-image-signup {
  background-image: url("background_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.background-image-login {
  background-image: url("background_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}

.blurred-back {
  background-color: rgba(0,100,0,0.2);
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
}

.blurred-back2 {
  background-color: rgba(0,100,0,0.5);
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
}

.avatar-card {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0,100,0,0.5)
}

.table-border {
  border: 1px solid black;
}

.restaurant-header {
  background-color: green;
  padding: 20px;
  margin-top: 10px;
}

.home-text {
  font-family: 'Jomhuria', cursive;
  font-size: 100px;
}

.slider {
  margin-top: 100px;
}

.no-margin {
  margin: 0;
}

.small-text {
  font-size: 13px;
}

.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    margin: 0;
}

.avatar-image {
  border-radius: 100%;
  box-shadow: 0 0 20px rgba(0,100,0,0.5)
}

.box {
  width: 282px;
  height: 282px;
  padding: 15px;
  border-radius: 100%;
  box-shadow: 0 0 20px rgba(0,100,0,0.5)
}

.box1 {
  width: 312px;
  height: 312px;
  padding: 15px;
  border-radius: 100%;
}

.simple-box {
  padding-top: 15px;
}
