/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import url('https://fonts.googleapis.com/css?family=Jomhuria');

.background-image-signup {
  background-image: url("http://res.cloudinary.com/dzctpgu9d/image/upload/v1493015885/background_1_o0tldi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.background-image-login {
  background-image: url("http://res.cloudinary.com/dzctpgu9d/image/upload/v1493016226/background_3_hj8udl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right top;
  height: 100vh;
}

.food-index {
  background-image: url("http://res.cloudinary.com/dzctpgu9d/image/upload/v1493033662/pexels-photo-349610_zv2dkg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 130vh;
  margin-top: -20px;
  padding-top: 20px;
}

.blurred-back {
  background-color: rgba(0,100,0,0.2);
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
}

.blurred-back2 {
  background-color: rgba(0,100,0,0.5);
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
}

.avatar-card {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0,100,0,0.5)
}

.table-border {
  border: 1px solid black;
}

.restaurant-header {
  background-color: green;
  padding: 65px 20px 0px 20px;
  margin-top: -35px;
  border-radius: 5%;
}


.home-text {
  font-family: 'Jomhuria', cursive;
  font-size: 100px;
}

.slider {
  margin-top: 100px;
}

.no-margin {
  margin: 0;
}

.small-text {
  font-size: 13px;
}

.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    margin: 0;
}

.avatar-image {
  border-radius: 100%;
  box-shadow: 0 0 20px rgba(0,100,0,0.5)
}

.avatar-image-list {
  border-radius: 100%;
  box-shadow: 0 0 20px rgba(0,100,0,0.5);
  height: 50px;
}


.box {
  width: 282px;
  height: 282px;
  padding: 15px;
  border-radius: 100%;
  box-shadow: 0 0 20px rgba(0,100,0,0.5)
}

.box1 {
  width: 312px;
  height: 312px;
  padding: 15px;
  border-radius: 100%;
}

.simple-box {
  padding-top: 15px;
}

.comment-section {
  margin-top: 30px;
  padding: 20px;
}

.collection .collection-item.avatar {
  padding-left: 10px;
}

.brand-logo {
  font-size: 3rem;
}

.search-label {
  color: black;
}

.search-field {
  background-color: rgba(0,100,0,0.2);
}

.comments {
  padding: 5px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(0,100,0,0.5);
}

.contact-page {
  background-image: url("http://res.cloudinary.com/dzctpgu9d/image/upload/v1493085954/tomato-1205699_1280_ue9mda.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-resto {
  height: 290px;
  width: 290px;
}
